1
1 25
1 25
1 25
1 25
0 0
1 0
1 1
0 -1
1
/home/alvilleg/prueba2/inst/pruebaInstanceInstancia1
/home/alvilleg/prueba2/inst/pruebaInstanceInstancia1
/home/alvilleg/prueba2/inst/pruebaInstanceInstancia2
/home/alvilleg/prueba2/inst/pruebaInstanceInstancia2
/home/alvilleg/prueba2/ozInt/prueba.txt
/home/alvilleg/prueba2/ozInt/pruebaPrepNet.txt
/home/alvilleg/prueba2/ozInt/pruebaGainRel.txt
/home/alvilleg/prueba2/net/prueba.net
/home/alvilleg/tesis/NetworkMaker/dist/.